body{
    background-color: #142a4f;
    color: white;
}

a{
    color: darkorange;
    text-decoration: none;
}

a:hover{
    color: darkorange;
    text-decoration: underline;
}

ul{
    list-style-type: none;
    float: right;
    margin: 0;
}

li{
    display: inline;
    color: white;
    padding: 0px 10px;
}

li:hover{
    text-decoration: underline;
    cursor:pointer;
}

.BdAbody{
    position: absolute;
    min-width: 400px;
    max-width: 100%;
    background: rgba(61, 81, 99, 0.5);
    left: 33%;
    top: 100px;
    margin-right: 8px;
}

#BdAhead{
    position: relative;
    width: 100%;
    top: 20px;
    z-index:6;
    margin-left: 15px;
}

.wiki{
    padding: 0 20px;
    font-size: 1.3em;
    font-family: "Times New Roman";
    text-align: left;
}

#BdAtitulo{
    font-family: "apocalipse";
    color: white;
    text-shadow:#000000 0 0 1.0em;
}

#BdAcapa{
    position: relative;
    top: 19px;
    margin-left: 13px;
    width: 30%;
}

#FdEhead{
    position: relative;
    width: 100%;
    top: 20px;
    z-index:6;
    left: 15px;
}

.books{
    position: relative;
    margin-top: 50px;
    padding:0px 20px;
}

#BdA-icon{
    position:absolute;
    left: 20%;
    top: 40%;
    margin-left:0 auto;
    margin-right:0 auto;
    width: 222px;
}

#headBdA{
    font-family: "apocalipse";
    position:absolute;
    left: 20%;
    top: 25%;
    margin-left:0 auto;
    margin-right:0 auto;
    max-width: 626px;
    width: 277px;
}

#FdE-icon{
    position:absolute;
    left: 60%;
    top: 40%;
    margin-left:0 auto;
    margin-right:0 auto;
    width: 222px;
}

#headFdE{
    color: white;
    font-family: "apocalipse";
    position:absolute;
    left: 58%;
    top: 30%;
    margin-left:0 auto;
    margin-right:0 auto;
    width: 306px;
}

#dudu{
   position: relative;
   top: 3px;
   left: 15px;
   width: 35%;
   max-width: 480px;
}

#imgautor{
    width: 80px;
    height: 80px;
    margin-top: 3px;
}

#autordiv{
    position: relative;
    top: 84px;
}

#autor{
    position: absolute;
    min-width: 600px;
    min-height: 600px;
    background: rgba(61, 81, 99, 0.5);
    left: 39%;
    top: 10px;
    margin-right: 8px;
}

#autorhead{
    position: relative;
    left: 10%;
    width: 370px;
    top: -60px;
    z-index:6;
}

#autortitulo{
    font-family: "apocalipse";
    color: white;
    height: 0px;
    text-shadow:#000000 0 0 1.0em;
}

#autorwiki{
    padding: 0px 20px;
    font-size: 1.2em;
    font-family: "Times New Roman";
    color: white;
    float: left;
}

#FdEtitulo{
    font-family: "apocalipse";
    color: white;
    text-shadow:#000000 0 0 1.0em;
}

@font-face{
    font-family: apocalipse;
    src:url(../fonts/Eremaeus.ttf);
}

#BdA, #FdE{
    color: white;    
    font-size: 2.0em;
}

#BdAdiv, #FdEdiv, #autordiv, #sobrediv{
    display: none;
}

#caurosel{
    position: relative;
    top: 55px;
    width: 30%;
    margin-left:13px;
}

.nav-bar{
    position: relative;
    width: 100%;
    background-color: rgba(61, 81, 99, 0.527);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.firstUl{
    display: flex;
    align-items: center;
    list-style: none;
    width: 60%;
    height: 100%;
}

.secondUl{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

#homeli{
    margin-left: 100px;
}

#indexImgFdE{
    height: 220px;
    width: 220px;
    filter: contrast(100%);
}

#indexImgBdA{
    height: 220px;
    width: 220px;
}

#sobrediv{
    margin: 100px auto;
    width: 70%;
    text-align: center;
}

#sobrehead{
    font-family: "Times New Roman";
    text-shadow:#000000 0 0 1.0em;
}

#sobrewiki{
    text-align: left;
    padding: 5px;
    min-width: 400px;
    width: 100%;
    background: rgba(61, 81, 99, 0.527);
}

#sobrepalavra{
    padding: 0px 20px;
    font-size: 1.3em;
    font-family: "Times New Roman";
}

#indexImgBdA:hover {
    transform: scale(1.15);    
}

#indexImgFdE:hover{
    transform: scale(1.15)
}